	<div class="form-group">
	  <label for="level">Select level:</label>
	  	<select class="form-control" name="level">
	   	<option>Junior</option>
	   	<option>Newcomer</option>
	    <option>Novice</option>
	    <option>Intermediate</option>
	    <option>Advanced</option>
	    <option>Champion</option>
	    <option>Champion Invitational</option>
	  </select>
	</div>