* {

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
 
.logo {
  
	max-height: 200px;
}

/* Space out content a bit */
.main {
  background: url("./wood.jpg");
  min-height: 740px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ccc;
}

.navbar-default {
  background-image: linear-gradient(to bottom,#1424E4 0,#222 100%);
  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}*/

/* Custom page footer */

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-top: 19px;
    color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
/*    background: URL("../images/tealTexture.jpeg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    background-position: 0% 65%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}*/
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



.page-header {
  margin-top:0;
}

footer {
  margin-top: 40px;
  background-color: #c19a6b;
}

ul  {
    list-style: none;
    color:  #008080;
}

side-nav-links li {
    margin-bottom: 10px;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

a {
    color:  #008080;
}

 .panel panel-primary {
    color:  #008080;
}

.panel-primary .btn-primary{
    border-color: #008080;
    
}

.btn-primary {
    border-color: #008080;
    background-color: #008080;
    
}

.panel-primary > .panel-heading  {
  background-color:  #008080;
}

.slider-handle {
  background:  #008080;
}

.panel-primary {
    border-color: #008080;
}

.navbar-nav {
  display:table;
  width:55%;
  margin: 0;
 
}
.navbar-nav > li {
  float:none;
  display:table-cell;
  text-align:right;
  
}
.forms {
  max-width: 500px;
  margin: auto;
}