html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
 
.logo {  
  max-width: 45%;
}

/* Space out content a bit */
.main {
  background: url("./wood.jpg");
  min-height: 960px;
  
  width:auto;
  overflow-y: hidden; 
  vertical-align: top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ccc;
}

.navbar-default {
  background-image: linear-gradient(to bottom,#1424E4 0,#222 100%);
  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}*/

/* Custom page footer */

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-top: 19px;
    color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
/*    background: URL("../images/tealTexture.jpeg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    background-position: 0% 65%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
/*.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}*/
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header {
  margin-top:0;
}

footer {
  margin-top: 40px;
  background-color: #c19a6b;
}

ul  {
    list-style: none;
    color:  #1424E4;
}

side-nav-links li {
    margin-bottom: 10px;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

a {
    color:  gray;
}

 .panel panel-primary {
    color:  darkgray;
}


.panel-primary > .panel-heading  {
  background: url("../images/woodGrain.jpg") no-repeat;
  
}

.slider-handle {
  background:  #008080;
}

.panel-primary {
    border-color: #e4d414;
}

.table-body {
  padding: 0px;
  
}

.navbar-nav {
  display:table;
  margin: 0;
 
}

.forms {
  width: 50%;
  margin: auto;
}

.well {
  border-style: solid;
  border-color: black;
  width: 75%;
  margin-left: 8%;
  color: white;
  margin-bottom: 10px;
  padding: 5px;
}


.login {
 max-width: 40%;
}

td {
  text-align: left;
  color: grey
}

thead {
  color: black;
}


.home {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  vertical-align: bottom;
  text-align: left;
}



.swing {
  margin-left: 50%;
  margin-top: 25%;
}

.silhouette {
  height: 240px;
}


.radioPad {
display: inline-block;
vertical-align: top;
}

.wrapper {
display: block;
cursor: pointer;
color: white;
text-transform: uppercase;
font-size: 14px;
margin: 5px;
padding: 5px;
text-align: left;
}
 
.radio {
 
height: 2px ;
width: 2px;
opacity: 0;
margin-right: 10px;
}

.__wrapper {
display: block;
cursor: pointer;
background: white;
color: rgb(127, 127, 127);
font-weight: 200;
font-size: 14px;
margin: 2px;
padding: 3px;
text-align: left;
}

.radioGroup {
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
  margin-right: 5px;
}

.addNew {
  position: absolute;
  right: 10%;
  width: 50px;
  padding: 5px;
}

