body {
    background: url("./wood.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ccc;
}
.container {
    background: url("./WCS.jpg") no-repeat center center fixed;
}
.navbar-default {
    background-image: linear-gradient(to bottom,#1424E4 0,#222 100%);
}

.btn-default {
    background-color: #1424E4;
}

.open>.dropdown-toggle.btn-default {
    background-color: #de9013;
}
.input-text-color {
    color: #ccc;
}